.fixture-color-div, .point-div{
    position: relative;
}

.fixture-info{
    visibility: hidden;
    text-align: center;
    width: 60px;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -30px;
  }

 .point-info{
    visibility: hidden;
    text-align: center;
    width: 60px;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -30px;
  }
   
  .fixture-color-div:hover .fixture-info {
    visibility: visible;
  }
  .point-div:hover .point-info {
    visibility: visible;
  }