.fixture-color-div, .point-div{
    position: relative;
}

.fixture-info, .net-transfers-info-tooltip, .point-info{
    visibility: hidden;
    text-align: center;
    width: 60px;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -30px;
  }
.net-transfers-info-tooltip{
    margin-left : -12px;
    font-size: 10px;
  }

.fixture-color-div:hover .fixture-info {
    visibility: visible;
  }
.point-div:hover .point-info {
    visibility: visible;
  }
.net-transfers-info:hover .net-transfers-info-tooltip{
    visibility: visible;
  }

.expected-points-div{
    display: block;
    position: absolute;
    border: 1px black solid;
    top: 20%;
    left: 10%;
  }
.expected-points-xp-div{
    background: rgb(55, 0, 60);
    color: white;
    font-size: 10px;
    padding: 2px;
  }

.expected-points-value-div{
    padding: 3px;
    font-size: smaller;
  }

  .net-transfers-info{
    position: relative !important;
    z-index: 1;
  }